  </div>
  <div class="container">
    <div id="welcome-greeting">
      <h1>The Project</h1>
        <p>
          The idea behind this research project is to predict Zika epidemics using information available in social networks such as Twitter.
          This is motivated by the idea that people that interact frequently in social networks might interact in real life.
        </p>
      <h1>An Example:</h1>
        <p>
          The following figure shows an interactive figure of the Twitter network we have been able to reconstruct so far.
          Each node represents one person and the connection between nodes represents an interaction.
          Through the study of these interactions we can better understand how people relate to each other and how diseases spread through these interactions.
          <br><br>
          The figure can be zoomed in, out and dragged!
        </p>
        <iframe src="../images/twitter3.html" height="600px" width="100%"></iframe>
        <hr />
    </div>
  </div>
<div class ="container">
