
<div class="navbar navbar-default" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <p class="navbar-brand">{{ site.name }}</p>
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
      <li><a href="{{ site.baseurl }}/list.html">List</a></li>
      <li><a href="{{ site.baseurl }}/links.html">Links</a></li>
      <li><a href="{{ site.baseurl }}/twitter.html">Projects</a></li>
      <li><a href="{{ site.baseurl }}/about.html">People</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</div>

<!-- Sidebar -->
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand"><a href="{{ site.baseurl }}/"><h1 class="brand">{{ site.name }}</h1></a><h3>{{ site.description }}</h3></li>
    <hr/>
    <li><a href="{{ site.baseurl }}/sir.html">Networks Epidemics Framework</a></li>
    <li><a href="{{ site.baseurl }}/twitter.html">Twitter Network Parser</a></li>
    <li><a href="{{ site.baseurl }}/nextSteps.html">Next Steps</a></li>
    <li><a href="{{ site.baseurl }}/about.html">People</a></li>
    <hr/>
    <br>
    <div style="margin: auto; text-align: center;"><img src="./images/mango.png" width="40%"></div><br>
    <div id="social-wrapper">
      <!--<li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li-->
      <!--<li> <a href="{{ site.linkedin }}"><i class="fa fa-linkedin-square"></i> linkedin</a> </li>-->
      <li> <a href="http://www.facebook.com/chipdelmal"><i class="fa fa-facebook-square"></i> facebook</a></li>
      <li> <a href="https://github.com/chipdelmal"><i class="fa fa-github-square"></i> github</a> </li>
      <li> <a href="{{ site.twitter }}"><i class="fa fa-twitter-square"></i> @twitter</a></li>
    </div>
  </ul>
</div>
