    </div>
    <style>
    .showcase-wrapper {background-image: url("{{ site.baseurl }}/images/showcase.jpg");}
    </style>
    <div class="showcase-wrapper sticky">
      <div class="showcase-text">
          {% for post in site.posts limit: 1 %}
          <div style="background-color:rgba(40,40,40,.5); border-radius:0px"><br>
            <labelTitle>ZikViSoN: prediction of Zika Virus through Social Networks</labelTitle><br>
            <a href="{{ site.baseurl }}{{ post.url }}"><button type="button" class="btn btn-default showcase-button">Overview</button></a>
            <br>
            <br>
          </div>
          {% endfor %}
      </div>
    </div>
    <div class="container">
